.detailsContainer {
  max-width: 1024px;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  color: var(--accent-color);
  h1 {
    outline: none;
    margin: 5px;
    margin-bottom: 20px;
    font-size: clamp(2.3rem, 3.5vw, 5rem);
  }
  @media (max-width: 1200px) {
    width: 85%;
  }
}

.imageContainer {
  height: 45vw;
  width: 100%;
  position: relative;
  @media (max-width: 600px) {
    height: 55vw;
  }
  @media (min-width: 1400px) {
    height: 650px;
  }
}

.imageBox {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.imageBackground {
  z-index: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--background-light-color);
  border-radius: 30px;
  filter: blur(3px);
}

.separator {
  margin: 20px 0;
  border-top: 0.5px solid var(--foreground-color);
  width: 100%;
  height: 1px;
}

.descriptionContainer {
  h3 {
    outline: none;
    color: var(--accent-color);
    font-size: clamp(1.25rem, 5vw, 2rem);
    margin-bottom: 1.5rem;
  }
  .descriptionText p {
    color: var(--secondary-color);
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: 400;
    letter-spacing: 0.05rem;
    /* letter-spacing: 1px; */

    a {
      color: var(--primary-color);
      background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 1.5px
          no-repeat,
        linear-gradient(currentColor 0 0) 100% 100% / var(--d, 0) 1.5px
          no-repeat;
      transition: 0.25s;
    }

    a:hover {
      --d: 51%;
    }
  }
}
.techStackContainer {
  h3 {
    outline: none;
    margin-bottom: 2rem;
    font-size: clamp(1.25rem, 5vw, 2rem);
  }
}

.carrouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vw;
  width: 100%;
  position: relative;

  img {
    position: absolute;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 600px) {
    height: 55vw;
  }
  @media (min-width: 1400px) {
    height: 650px;
  }
}

.carrouselImageBox {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.next,
.prev {
  cursor: pointer;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  background: var(--background-color);
  box-shadow: 0px 8px 55px var(--background-color);
  color: var(--primary-color);
  user-select: none;
  font-size: 20px;
  z-index: 2;
  outline: none;
  transition: all 0.2s ease;

  &.next {
    right: 10px;
  }

  &.prev {
    left: 10px;
    transform: scale(-1) rotate(180);
  }

  &:focus {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px var(--primary-color),
      0 0 10px var(--primary-color);
  }

  &:disabled {
    opacity: 0;
  }

  @media (max-width: 600px) {
    font-size: 15px;
  }
}

.modalOverlay {
  padding: 60px;
  z-index: 5;

  @media (max-width: 800px) {
    padding: 30px;
  }
  @media (max-width: 600px) {
    padding: 5px;
  }

  @media only screen and (orientation: landscape) and (max-width: 600px) {
    padding: 0;
  }
}

.modelContent {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0;
  width: fit-content;
  backdrop-filter: blur(3);
  img {
    max-width: 100%;
    border-radius: inherit;
  }

  @media only screen and (orientation: landscape) and (max-width: 800px) {
    height: 95%;
    img {
      height: 100%;
    }
  }
}

.modalButton {
  position: fixed !important;
  background-color: var(--background-color) !important;
}
