.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7.5rem 0;
  width: 100%;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
  @media (max-width: 800px) {
    width: 80%;
    flex-direction: column;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
}

.textContainer {
  margin-right: 50px;
  padding: 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
  max-width: 85%;
  /* justify-content: space-between; */

  @media (max-width: 800px) {
    width: 90%;
    padding: 15px 0;
    margin-right: 0;
    align-self: center;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1.5rem 0;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    font-style: italic;
    font-weight: 300;
  }
}

.imageContainer {
  /* background-color: var(--secondary-color); */
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;

  @media (max-width: 800px) {
    order: -1;
    padding: 15%;
  }
}

.skillsContainer {
  width: 1024px;
  /* margin-right: 0;
  padding-right: 0; */
  /* align-self: center;
  justify-self: center; */
  @media (max-width: 1100px) {
    width: 85%;
    align-self: center;
    justify-self: center;
  }
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h5 {
    font-weight: 400;
    font-style: italic;
    font-family: Source Code Pro;
    width: fit-content;
    margin: 0;
    margin-bottom: 25px;
    font-size: clamp(1.25rem, 4vw, 2rem);
    color: var(--accent-color);
  }
}

.skillsTable {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: max-content;

  .skillsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    h3 {
      font-size: 18px;
      color: var(--primary-color);
      font-weight: 500;
      @media (max-width: 500px) {
        font-size: 15px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin-left: 5px;
        margin-bottom: 10px;
      }
    }
  }
}

.skillCard {
  margin: 0 2px;
  backdrop-filter: blur(5px);
  padding: 12px;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 15px;
  outline: 1px solid var(--foreground-color);
  cursor: pointer;
  transition: all 0.2s ease;
  p {
    font-weight: 300;
    margin-left: 10px;
    color: var(--accent-color);
  }

  svg {
    width: 20px !important;
    height: 20px !important;
  }

  &:not(:hover, :focus) {
    svg path {
      transition: all 0.3s ease;
      fill: var(--accent-color);
    }
  }

  @media (max-width: 750px) {
    padding: 10px;
    p {
      font-size: 14px;
    }
  }
}
