.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7.5rem 0;
  width: 100%;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh;
  padding-top: 8.5vh;
  padding-bottom: 5vh;
  @media (max-width: 800px) {
    width: 80%;
    flex-direction: column;
    padding-top: 1rem;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
}

.textContainer {
  margin-right: 50px;
  /* padding: 15px; */
  width: 400px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1.5rem 0 1rem;
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    font-weight: 300;
    letter-spacing: 1px;
  }
  @media (max-width: 1000px) {
    margin-right: 20px;
    width: 300px;
  }
  @media (max-width: 800px) {
    width: 90%;
    padding: 15px 0;
    margin-right: 20px;
    margin-top: 3rem;
    align-self: center;
    order: 1;
  }
  @media (max-width: 500px) {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

.imageContainer {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* clip-path: ellipse(50% 48% at 50% 50%); */
  /* border-radius: 35%; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 35%;
  width: 400px;
  height: 400px;
  grid-row-end: 400px;
  box-shadow: 0 0 30px 15px var(--background-light-color);

  img {
    width: 380px;
    height: 380px;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: inherit;
    overflow: hidden;

    @media (max-width: 850px) {
      width: 360px;
      height: 360px;
    }
    @media (max-width: 500px) {
      width: 280px;
      height: 280px;
    }
  }

  @media (max-width: 850px) {
    width: 380px;
    height: 380px;
  }

  @media (max-width: 500px) {
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
  }

  &:hover img {
    transform: scale(1.05);
  }

  .block {
    border-radius: inherit;
    border: none;
    outline: none;
    overflow: hidden;
    z-index: 1;

    width: 100%;
    height: 100%;
    position: absolute;
    /* inset: 0; */
    /* bottom: 2px; */
    /* top: -2px; */
    /* border-radius: 35%; */
    box-shadow: inset 0 0 12px 20px var(--background-light-color);
  }
}

.skillsContainer {
  width: 1024px;
  @media (max-width: 1100px) {
    width: 85%;
    align-self: center;
    justify-self: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 500;
    font-family: Source Code Pro, sans-serif;
    width: fit-content;
    margin: 0;
    margin-bottom: 25px;
    font-size: clamp(1.25rem, 4vw, 2rem);
    color: var(--accent-color);
  }
}

.skillsTable {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: max-content;

  .skillsSection {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    h3 {
      font-size: 20px;
      color: var(--primary-color);
      font-weight: 600;
      @media (max-width: 500px) {
        font-size: 15px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin-left: 5px;
        margin-bottom: 10px;
      }
    }
  }
}

.skillCard {
  margin: 0 2px;
  backdrop-filter: blur(5px);
  padding: 12px;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 15px;
  outline: 1px solid var(--foreground-color);
  cursor: pointer;
  transition: all 0.2s ease;
  p {
    font-weight: 200;
    margin-left: 10px;
    color: var(--accent-color);
  }

  svg {
    width: 20px !important;
    height: 20px !important;
  }

  &:not(:hover, :focus) {
    svg path {
      transition: all 0.3s ease;
      fill: var(--accent-color);
    }
  }

  @media (max-width: 750px) {
    padding: 10px;
    p {
      font-size: 14px;
    }
  }
}
