.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-light-color);
  width: 100%;
  overflow-x: hidden;
}

.contactModule {
  /* height: 100vh; */
  width: 1024px;
  @media (max-width: 1100px) {
    width: 85%;
  }
  margin: 5rem 0;

  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-left: 50px;
  }
  @media (max-width: 600px) {
    h2 {
      margin-left: 0;
    }
    align-items: center;
  }
}
.contactContainer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  padding: 0 30px;
  border-radius: 25px;

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 350px) {
    padding: 0;
  }
}

.title {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  font-weight: bold;
  margin: 2.5rem 0 1.5rem 0;
  @media (max-width: 600px) {
    text-align: center;
  }
}

/* .imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.imageContainer {
  @media (max-width: 800px) {
    display: none;
  }
}

.textContainer {
  text-align: center;
  padding: 20px 20px;
  width: 30%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: clamp(1rem, 2vw, 2rem);
  }

  @media (max-width: 800px) {
    margin-right: 0;
    width: 100%;
    flex-direction: row;
  }
}

.firstContainer {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 28px;
    align-self: flex-start;
    font-weight: bold;
    margin: 1rem 0;
  }

  li {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 10px 0;
  }

  svg {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    fill: var(--primary-color);
  }
}

.infoContainer {
  @media (max-width: 800px) {
    flex-direction: column;
  }
  @media (max-width: 900px) {
    justify-content: space-between;
  }

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    h4 {
      margin: 5px 0;
      color: var(--primary-color);
      font-size: clamp(1rem, 2.5vw, 1.3rem);
    }

    svg {
      width: 30px;
      height: 30px;
      fill: var(--accent-color);
    }

    p,
    a {
      color: var(--accent-color);
      font-weight: 600;
      font-size: clamp(0.85rem, 2vw, 1.1rem);
      transition: all 0.2s ease-in-out;
      outline: none;
      &:hover,
      &:focus {
        outline: none;
        text-shadow: 0 0 10px var(--accent-color);
      }
    }
  }
}
