.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: var(--shadow-elevation-medium);
  backdrop-filter: blur(2px);
  padding: 20px;
  border-radius: 30px;

  @media (max-width: 850px) {
    width: 100%;
  }
  @media (max-width: 350px) {
    width: 90%;
  }
}

.formTitle {
  font-size: 22.5px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.icon {
  position: absolute;
  margin-left: 12px;
  color: var(--secondary-color);
  transform: translateY(-50%);
  top: 50%;
  left: 5px;
  width: 16px !important;
  height: 16px !important;
}

.textareaIcon {
  position: absolute;
  margin-left: 12px;
  color: var(--secondary-color);
  top: 11px;
  width: 16px !important;
  height: 16px !important;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 0 38px;
  height: 35px;
}

.textarea {
  resize: none;
  padding: 12px 38px;
}

.label {
  position: absolute;
  left: 40px;
  font-size: 14px;
  font-weight: 300;
  top: -6px;
  background-color: transparent;
  color: var(--secondary-color);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

.input,
.textarea {
  outline: 1px solid var(--foreground-color);
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  border-radius: 20px;
  font-family: Raleway, sans-serif;
  font-weight: bold;

  &::-webkit-scrollbar {
    -webkit-appearance: none;

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    &:vertical {
      width: 7px;
    }
    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    &:horizontal {
      height: 10px;
    }
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    margin: 15px;
  }

  &:focus {
    outline-color: var(--primary-color);
    box-shadow: 0 0 4.5px var(--primary-color);
    transition: all 0.15s ease;
    ~ .icon,
    ~ .textareaIcon {
      color: var(--primary-color) !important;
    }
  }

  &:focus ~ .label,
  &:not(:placeholder-shown) ~ .label {
    text-shadow: 0 0 1px var(--primary-color);
    transform: translateY(-0.15rem);
    font-size: 12px;
    padding: 0 4px;
    color: var(--primary-color);
    background-color: var(--background-light-color);
    font-weight: bold;
  }

  &::placeholder {
    color: transparent;
  }

  &:-webkit-autofill {
    background-clip: text;
    -webkit-text-fill-color: var(--accent-color);
  }
}

.formGroup {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;
  width: 100%;
  &.groupError {
    .input,
    .textarea {
      outline-color: var(--error-icon-color);
      ~ label {
        color: var(--error-icon-color);
        text-shadow: 0 0 1px var(--error-icon-color) !important;
      }
      box-shadow: 0 0 6px var(--error-icon-color);
    }
    .icon,
    .textareaIcon {
      color: var(--error-icon-color);
    }
  }
}

.button {
  font-family: inherit;
  font-size: 20px;
  background-color: var(--primary-color);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  outline: none;

  svg {
    width: 20px;
    height: 20px;
    color: var(--accent-color);
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  span {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: var(--accent-color);
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
    svg {
      transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }
    span {
      opacity: 0;
    }
    .svg-wrapper {
      animation: fly-1 0.6s ease-in-out infinite alternate;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
