.formContainer {
  flex: 1;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formTitle {
  font-size: 22.5px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;
  width: 100%;

  &.groupError {
    .input,
    textarea {
      outline: 1px solid var(--error-icon-color);

      &::placeholder {
        color: var(--error-icon-color);
      }
    }
    .icon,
    .textareaIcon {
      color: var(--error-icon-color);
    }
  }
}

.icon {
  position: absolute;
  margin-left: 12px;
  color: var(--foreground-color);
  transform: translateY(-50%);
  top: 50%;
  width: 20px;
}

.textareaIcon {
  position: absolute;
  margin-left: 12px;
  color: var(--foreground-color);
  top: 12.5px;
  width: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 20px;
  font-family: Raleway;
  font-weight: bold;
  padding: 0 38px;
  height: 35px;

  &::placeholder {
    color: var(--foreground-color);
  }

  &:-webkit-autofill,
  :-webkit-autofill:hover,
  :-webkit-autofill:focus,
  :-webkit-autofill:active {
    transition: all 0s 50000s;
  }
}

.textarea {
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 20px;
  resize: none;
  font-family: Raleway;
  font-weight: bold;
  padding: 15px 38px;
  &::placeholder {
    color: var(--foreground-color);
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;

    &:vertical {
      width: 7px;
    }
    &:horizontal {
      height: 10px;
    }
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    margin: 15px;
  }
}

.button {
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 35px;
  font-family: Raleway;
  font-weight: bold;
  color: var(--background-color);
  background-color: var(--accent-color);
  width: 100%;
  &:hover {
    /* color: var(--primary-color); */
    /* background-color: var(--primary-color); */
    opacity: 0.8;
    transition: all ease 0.2s;
  }
}
