.linksContainer {
  h3 {
    font-size: 22px;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      a {
        background-color: var(--accent-color);
        margin: 0 15px;
        color: var(--background-color);
        border-radius: 2rem;
        padding: 10px 15px;
        display: flex;
        align-items: center;
      }
      svg {
        width: 30px;
      }
    }

    p {
      font-weight: bold;
      margin: 0 0;
      margin-left: 15px;
      font-size: 15px;
    }
  }
}
