.techsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
  @media (max-width: 500px) {
    margin: 0;
  }
}

.extended {
  flex-wrap: wrap;
}

.techTag {
  display: block;
  border: 1px var(--secondary-color) solid;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-right: 12px;
  overflow: hidden;
  height: 20px;
  &::after {
    content: attr(data-text);
    opacity: 0;
    font-weight: bold;
    font-family: Raleway;
    font-size: 80%;
    display: inline-block;
    max-width: 0;
    transition: all 0.3s;
    vertical-align: bottom;
    overflow: hidden;
  }
  &:hover {
    &:after {
      margin-left: 5px;
      opacity: 1;
      visibility: visible;
      max-width: 80px;
    }
  }
  /* &:not(:hover) {
    svg path {
      fill: var(--secondary-color);
    }
  } */
  @media (max-width: 500px) {
    display: none;
  }

  svg {
    width: 20px !important;
    height: 20px !important;
  }
}

.extendedTag {
  margin-bottom: 10px;

  &:hover::after {
    margin-left: 5px;
    opacity: 1;
    visibility: visible;
    max-width: 80px;
  }

  @media (max-width: 500px) {
    display: block;
  }

  /* &:not(:hover) {
    svg path {
      fill: inherit !important;
    }
  } */

  &:hover {
    &:after {
      margin-left: 10px;
      opacity: 1;
      visibility: visible;
      max-width: 120px;
    }
    /* svg path {
      fill: inherit;
    } */
  }
  &::after {
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
    max-width: 120px;
    font-size: 16px;
  }
}

/* .techTagExtended {
  display: block;
  border: 1px var(--primary-color) solid;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-right: 12px;
  overflow: hidden;
  height: 20px;
  margin-bottom: 10px;

  &::after {
    content: attr(data-text);
    font-weight: bold;
    font-family: Raleway;
    display: inline-block;
    transition: all 0.3s;
    vertical-align: bottom;
    overflow: hidden;
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
    max-width: 120px;
    font-size: 16px;
  }
  &:hover {
    &:after {
      margin-left: 10px;
      opacity: 1;
      visibility: visible;
      max-width: 120px;
    }
  }

  svg {
    width: 20px !important;
    height: 20px !important;
  }
} */
