.techsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  bottom: 100px;
  padding: 0;
  z-index: 1;

  @media (max-width: 500px) {
    margin: 0;
  }
}

.extended {
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
}

.techTag {
  border: 1px var(--foreground-color) solid;
  padding: 10px;
  display: flex;
  min-width: 20px;
  min-height: 20px;
  align-items: center;
  border-radius: 19px;
  margin-right: 12px;
  overflow: hidden;
  height: 20px;
  outline: none;
  &::after {
    content: attr(data-text);
    opacity: 0;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    font-size: 80%;
    display: inline-block;
    max-width: 0;
    transition: all 0.3s;
    vertical-align: bottom;
    overflow: hidden;
  }
  &:hover,
  &:focus {
    &:after {
      margin-left: 5px;
      opacity: 1;
      visibility: visible;
      max-width: 80px;
    }
  }
  @media (max-width: 500px) {
    display: none;
  }

  svg {
    width: 20px !important;
    height: 20px !important;
  }

  &:not(:hover, :focus, .extendedTag) {
    svg path {
      fill: var(--accent-color);
    }
  }
}

.extendedTag {
  margin-bottom: 10px;
  display: flex !important;

  &:hover::after {
    margin-left: 5px;
    opacity: 1;
    visibility: visible;
    max-width: 80px;
  }

  @media (max-width: 500px) {
    display: block;
  }

  &:after {
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
    max-width: 120px;
    font-size: 16px;
  }

  &:hover {
    &:after {
      margin-left: 10px;
      opacity: 1;
      visibility: visible;
      max-width: 120px;
    }
  }
}
