.main {
  font-family: var(--Raleway-font), sans-serif;
  z-index: -1;
  overflow: auto;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  scroll-behavior: smooth;
  /* overflow-y:overlay */

  /* scrollbar-gutter: stable; */
  &::-webkit-scrollbar {
    visibility: visible;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    visibility: hidden;
    margin-block: 0.2em;
    margin-top: 85px;
    margin-bottom: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
  overflow-y: overlay;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    display: block;
    width: 100%;
    bottom: -1px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
  }
}

.goToTopButton {
  display: flex;
  position: fixed;
  z-index: 1;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 15px;
  color: var(--background-color);
  outline: none;
  bottom: 35px;
  right: 35px;

  &:hover,
  &:focus-visible {
    box-shadow: 0 0 10px var(--primary-color);
    transition: all 0.15s ease;
  }

  svg {
    width: 25px;
    height: 25px;
  }

  @media (max-width: 1350px) {
    padding: 14px;
    border-radius: 22px;
    svg {
      width: 22px;
      height: 22px;
    }
  }

  @media (max-width: 550px) {
    bottom: 20px;
    right: 20px;
    padding: 12px;
    border-radius: 18px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
