.main {
  /* background-image: url("https://res.cloudinary.com/aggutierrez/image/upload/v1660272151/Portfolio/background_hjhihe.svg"); */
  z-index: -1;
  overflow: auto;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  &::-webkit-scrollbar {
    visibility: visible;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    visibility: hidden;
    margin-block: 0.2em;
    margin-top: 85px;
    margin-bottom: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--foreground-color);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
}

.body {
  width: 1024px;
  @media (max-width: 1100px) {
    width: 85%;
  }
}

.goToTopButton {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 15px;
  color: var(--background-color);
  svg {
    width: 18px;
    height: 18px;
  }
  @media (max-width: 600px) {
    padding: 12px;
    svg {
      width: 15px;
      height: 15px;
    }
    bottom: 15px;
    right: 15px;
  }
}
