.menu {
  margin-top: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  box-shadow: -10px 0px 30px -15px var(--shadow-elevation-medium);
  overflow: hidden;
  display: flex;
  background-color: var(--background-color);
  position: relative;
  ul {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    li {
      margin-bottom: 25px;
    }
    a {
      font-size: 18px;
    }
    li[class*="item"] {
      a {
        color: var(--primary-color);
      }
    }
  }
}
