.modalOverlay {
  position: fixed;
  z-index: 2;
  background-color: var(--overlay-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 400px;
  background-color: var(--background-color);
  padding: 15px 50px;
  position: relative;
  border-radius: 5px;
  .button {
    color: var(--primary-color);
    position: absolute;
    border: none;
    top: 15px;
    right: 15px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background-color: var(--foreground-color);
      transition: all ease 0.15s;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 22px;
      height: 22px;

      fill: var(--primary-color);
    }
  }
}
