html {
  overflow-y: hidden;
}

body {
  font-family: Raleway;
  margin: 0;
  box-sizing: border-box;
  --typewrittetext-length: 0;
}

h1,
h2,
h3,
h4,
a,
span,
p {
  margin: 0;
  &::selection {
    background: var(--primary-color);
    color: var(--background-color);
  }
  color: var(--accent-color);
}

.divider-1 {
  color: var(--background-color);
  fill: var(--background-light-color);
}
.divider-2 {
  color: var(--background-light-color);
  fill: var(--background-color);
}

.detailsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

h1 {
  width: fit-content;
  margin: 0;
  font-size: clamp(2rem, 5vw, 6rem);
  color: var(--accent-color);
  background: linear-gradient(
      90deg,
      var(--secondary-color) calc(100% / 3),
      transparent 0 calc(200% / 3),
      var(--secondary-color) 0
    )
    var(--d, 0%) 100% /300% 1px no-repeat;
  transition: all ease 0.5s;
  /* text-shadow: 0 0 2px var(--accent-color); */
  &:hover,
  &:focus-visible {
    --d: 100%;
    outline: none;
    text-shadow: 0 0 10px var(--accent-color);
  }

  @media (max-width: 342px) {
    background: none;
    text-decoration: underline 1px var(--primary-color);
  }
}

h2 {
  font-family: Source Code Pro;
  font-weight: 500;
  width: fit-content;
  font-size: clamp(1.8rem, 3.2vw, 3rem);
  color: var(--accent-color);
  background: linear-gradient(
      90deg,
      var(--primary-color) calc(100% / 3),
      transparent 0 calc(200% / 3),
      var(--primary-color) 0
    )
    var(--d, 0%) 100% /300% 1px no-repeat;
  transition: 0.5s;
  &:hover,
  &:focus {
    --d: 100%;
    text-shadow: 0 0 10px var(--accent-color);
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.blur {
  overflow: hidden !important;
  #body {
    /* animation: blur 0.2s forwards; */
    filter: blur(5px) brightness(0.7);
    #home h3 > span {
      opacity: 0;
    }
  }
}

@keyframes blur {
  0% {
    filter: blur(0px) brightness(0.7);
  }
  100% {
    filter: blur(5px) brightness(0.7);
  }
}

[data-title] {
  color: var(--background-color);
  font-weight: bold;
  font-family: Raleway;
  position: relative;

  &:hover,
  &:focus {
    &:after {
      opacity: 1 !important;
      visibility: visible;
      transition: all ease 0.75s;
      z-index: 5;
    }
    &:before {
      transition: all ease 0.75s;
      opacity: 1;
      visibility: visible;
    }
  }
}
[data-title]:after {
  background-color: var(--background-color);
  color: var(--accent-color);
  content: attr(data-title);
  position: absolute;
  bottom: -35px;
  left: -10%;
  padding: 4px 8px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: var(--shadow-elevation-medium);
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  font-size: 1.2em;
  @media (max-width: 800px) {
    font-size: 1em;
  }
  @media (max-width: 500px) {
    font-size: 0.8em;
  }
}
[data-title]:before {
  visibility: hidden;
  border: solid;
  border-color: var(--background-color) transparent;
  border-width: 0 5px 5px 5px;
  bottom: -11px;
  content: "";
  position: absolute;
  opacity: 0;
  z-index: 5;
}
