.main {
  padding-top: 80px;
  /* background-image: url("https://res.cloudinary.com/aggutierrez/image/upload/v1660272151/Portfolio/background_hjhihe.svg"); */
  z-index: -1;
  overflow: auto;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 80px);
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    margin-block: 0.2em;
    margin-top: 85px;
    margin-bottom: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--foreground-color);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
}

.body {
  margin-top: 20px;
  width: 1024px;
}
