:root {
  --background-color: #222831;
  --background-light-color: #2b3338;
  --foreground-color: #393e46;
  --primary-color: #00adb5;
  --secondary-color: #a5c9ca;
  --accent-color: #eeeeee;
  --overlay-color: rgba(82, 97, 107, 0.4);

  --shadow-color: 209deg 38% 6%;
  --shadow-elevation-low: 0px 0.1px 0.1px hsl(var(--second-shadow-color) / 1),
    -0.1px 0.7px 0.7px -1.2px hsl(var(--second-shadow-color) / 1),
    -0.4px 2.7px 2.6px -2.5px hsl(var(--second-shadow-color) / 1),
    -1.1px 7.7px 7.3px -3.7px hsl(var(--second-shadow-color) / 0.76);
  --shadow-elevation-medium: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    2px 3px 5.4px hsl(var(--shadow-color) / 0.22),
    5.8px 8.6px 15.6px hsl(var(--shadow-color) / 0.45);
  --error-icon-color: #e53935;
  --success-icon-color: #4caf50;

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #222831;
      --background-light-color: #2b3338;
      --foreground-color: #393e46;
      --primary-color: #00adb5;
      --secondary-color: #a5c9ca;
      --accent-color: #eeeeee;
      --overlay-color: rgba(82, 97, 107, 0.4);
    }
  }
}
